<script src="http://code.highcharts.com/highcharts.js"></script>

<div class="container">
  <div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
    <div class="panel-body">
      <div id="pie_chart"></div>
    </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="panel panel-default">
    <div class="panel-body">
      <div id="line_chart"></div>
    </div>
    </div>
  </div>
  </div>
</div>

<script>

  $(function () {
  $('#pie_chart').highcharts({
    chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
    },
    title: {
    text: 'Crashes per each Crash Group'
    },
    tooltip: {
    pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
      enabled: true,
      format: '<b>{point.name}</b>: {point.y}',
      style: {
        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
      }
      }
    }
    },
    series: [{
    name: "Crashes",
    colorByPoint: true,
    data: <%= raw @crash_group_data.to_json %>
    }]
  });

  $('#line_chart').highcharts({
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Crashes per each Crash Group'
      },
      subtitle: {
        text: 'Based on the amount of crash'
      },
      xAxis: {
        categories: ['Unresolved', 'Tracked', 'Resolved', 'Ignored']
      },
      yAxis: {
        title: {
          text: 'Crash Count'
        },
        labels: {
          formatter: function () {
            return this.value;
          }
        }
      },
      tooltip: {
        crosshairs: true,
        shared: true
      },
      plotOptions: {
        spline: {
          marker: {
            radius: 2,
            lineColor: '#666666',
            lineWidth: 1
          }
        }
      },
      series: [{
        name: 'Crashes',
        marker: {
          symbol: 'circle'
        },
        data: <%= raw @crash_group_data.to_json %>
        
      }]
    });
  });
</script>